* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 60px 0;
    background: #777;
    min-height: 100vh;
}

#login, #about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: white;
}