* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 60px 0;
    background: #777;
    min-height: 100vh;
}

#login, #about, #simon, #simon-center, #table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: white;
}

#players {
    text-align: center;
    color: white;
}

#simon {
    height: min(72vw, 72vh);
    width: min(72vw, 72vh);
    background: black;
    border-radius:50%;
}

#simon-center {
    height: min(25vw, 25vh);
    width: min(25vw, 25vh);
    background: black;
    border-radius: 50%;
    z-index: 1;
}

#simon-title {
    position: absolute;
    top: min(4vw, 4vh);
    left: 50%;
    transform: translateX(-50%);
    font-size: min(4vw, 4vh);
    font-weight: bold;
}

#simon-count {
    position: absolute;
    top: 42%;
    left: 50%;
    height: min(4vw, 4vh);
    width: min(12vw, 12vh);
    border-radius: min(1vw, 1vh);
    transform: translate(-50%);
    background: darkred;
    border: min(0.25vw, 0.25vh) solid red;
    text-align: center;
    font-size: min(2vw, 2vh);
    color: red;
}

#simon-reset {
    position: absolute;
    bottom: min(4vw, 4vh);
    left: 50%;
    height: min(5vw, 5vh);
    width: min(12vw, 12vh);
    padding: min(1vw, 1vh);
    border-radius: min(1vw, 1vh);
    font-size: min(2vw, 2vh);
    transform: translateX(-50%);
}

.simon-button {
    position: absolute;
    height: min(33vw, 33vh);
    width: min(33vw, 33vh);
    border: min(0.75vw,0.75vh) solid;
}

#simon-top-left {
    top: min(2vw, 2vh);
    left: min(2vw, 2vh);
    background-color: rgb(0, 128, 0);
    border-color: darkgreen;
    border-top-left-radius:100%;
}

#simon-top-right {
    top: min(2vw, 2vh);
    right: min(2vw, 2vh);
    background-color: rgb(128, 0, 0);
    border-color: darkred;
    border-top-right-radius:100%;
}

#simon-bottom-left {
    bottom: min(2vw, 2vh);
    left: min(2vw, 2vh);
    background-color: rgb(128, 128, 0);
    border-color: rgb(157 157 11);
    border-bottom-left-radius:100%;
}

#simon-bottom-right {
    bottom: min(2vw, 2vh);
    right: min(2vw, 2vh);
    background-color: rgb(0, 0, 128);
    border-color: rgb(16 16 135);;
    border-bottom-right-radius:100%;
}